* {
    box-sizing: border-box;
  }
  
.square-container {
    padding: 8px;
}

.square {
    width: calc(100% / 8);
    float: left;
    position: relative;
    padding-bottom: calc(100% / 6);
}

.square .content {
    // width: calc(100% - 32px);
    // height: calc(100% - 32px);
    border-radius: 100%;
    margin: 8px;
    padding: 16px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.ion-color-primaryVariant {
    --ion-color-base: #030DDA;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #030bc0;
    --ion-color-tint: #1c25de;
}

.ion-color-secondary2 {
    --ion-color-base: #eb636b;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #cf575e;
    --ion-color-tint: #ed737a;
}

ion-card{
    --background: white;
}