<ion-header>
  <ion-toolbar color="primary2">
    <ion-title>
      <strong>My Habits</strong>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="changeEditOption()">
        <ion-icon  name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon  name="help"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon style="font-size: x-large;" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content color="light">
  <app-habit *ngFor="let habit of habits" [iconName]="habit.iconName" [id]="habit.id" [title]="habit.title" [totalDays]="habit.totalDays" [daysSoFar]="habit.daysSoFar" [dateLastDayAdded]="habit.dateLastDayAdded" ></app-habit>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary2" (click)="redirectToNewHabit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>