<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>
      My Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-slides>
    <ion-slide>
      <ion-toolbar color="primary">
        <ion-title size="small">MONDAY</ion-title>
        <ion-icon style="font-size: xx-large;" name="arrow-dropright" slot="end"></ion-icon>
      </ion-toolbar>

      <ion-list style="padding: 0px;">
        <ion-item>
          <ion-label style="font-size: small;"> 
            <!-- colocar repetidos en css -->
            00:00 - 01:00
            <ion-label style="font-size: medium;"><hr>Take a hot shower :v</ion-label>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: small;">
            02:00 - 03:00
            <ion-label style="font-size: medium;"><hr>Nothing</ion-label>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: small;">
            04:00 - 05:00
            <ion-label style="font-size: medium;"><hr>College</ion-label>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: small;">
            05:00 - 06:00
            <ion-label style="font-size: medium;"><hr>Tropel??</ion-label>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-toolbar color="primary">
        <ion-icon style="font-size: xx-large;" name="arrow-dropleft" slot="start"></ion-icon>
        <ion-title size="small">TUESDAY</ion-title>
        <ion-icon style="font-size: xx-large;" name="arrow-dropright" slot="end"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-toolbar color="primary">
        <ion-icon style="font-size: xx-large;" name="arrow-dropleft" slot="start"></ion-icon>
        <ion-title size="small">WEDNESDAY</ion-title>
        <ion-icon style="font-size: xx-large;" name="arrow-dropright" slot="end"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-toolbar color="primary">
        <ion-icon style="font-size: xx-large;" name="arrow-dropleft" slot="start"></ion-icon>
        <ion-title size="small">THURSDAY</ion-title>
        <ion-icon style="font-size: xx-large;" name="arrow-dropright" slot="end"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-toolbar color="primary">
        <ion-icon style="font-size: xx-large;" name="arrow-dropleft" slot="start"></ion-icon>
        <ion-title size="small">FRIDAY</ion-title>
        <ion-icon style="font-size: xx-large;" name="arrow-dropright" slot="end"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-toolbar color="primary">
        <ion-icon style="font-size: xx-large;" name="arrow-dropleft" slot="start"></ion-icon>
        <ion-title size="small">SATURDAY</ion-title>
        <ion-icon style="font-size: xx-large;" name="arrow-dropright" slot="end"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-toolbar color="primary">
        <ion-icon style="font-size: xx-large;" name="arrow-dropleft" slot="start"></ion-icon>
        <ion-title size="small">SUNDAY</ion-title>
      </ion-toolbar>
    </ion-slide>
  </ion-slides>
</ion-content>
