<ion-header>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-icon name="arrow-round-back" (click)="dismiss()"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-title>NewTask</ion-title>
          </div>
        </ion-col>
        <ion-col class="ion-text-end">
          <div>
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- AQUI COLOCAR EL CONTENIDO DEL MODAL COMO TAL -->
</ion-content>