<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>New Task</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">New Task</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label>Deadline</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
    <hr>
    <ion-item>
      <ion-select value="work" interface="popover">
        <ion-select-option value="work">Work</ion-select-option>
        <ion-select-option value="college">College</ion-select-option>
        <ion-select-option value="home">Home</ion-select-option>
        <ion-select-option value="groceries">Groceries</ion-select-option>
        <ion-select-option value="new-list">New List</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>